Repository BartekCK/ddd-master: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0 --color, prettier --write, npm run lint:openapi

.lintstagedrc:

{
  "**/*.ts": [
    "eslint --fix --max-warnings=0 --color",
    "prettier --write"
  ],
  "**/*.yml": [
    "npm run lint:openapi"
  ]
}

chore: work on publish packages
  .github/workflows/release.yml
  .npmignore
  .npmrc
  README.md
  libs/command-bus/package.json
  libs/query-bus/package.json
  libs/result/package.json
  package-lock.json
  package.json
  script.sh
  turbo.json
Due: npm run lint:openapi

chore: bump version to v0.0.2
  libs/command-bus/package.json
  libs/query-bus/package.json
  libs/result/package.json
  package-lock.json
  package.json
Due: none

chore: bump version to v0.0.2 (#1)
  libs/command-bus/package.json
  libs/query-bus/package.json
  libs/result/package.json
  package-lock.json
  package.json
Due: none

chore: update turbo
  package-lock.json
  package.json
Due: none

chore: update turbo (#2)
  package-lock.json
  package.json
Due: none

chore: bump version to v0.0.3
  libs/command-bus/package.json
  libs/query-bus/package.json
  libs/result/package.json
  package-lock.json
  package.json
Due: none

chore: bump version to v0.0.3 (#3)
  libs/command-bus/package.json
  libs/query-bus/package.json
  libs/result/package.json
  package-lock.json
  package.json
Due: none

chore: set test workflow
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: npm run lint:openapi

chore: update relase
  .github/workflows/release.yml
Due: npm run lint:openapi

chore: bump version to v0.0.4
  libs/command-bus/package.json
  libs/query-bus/package.json
  libs/result/package.json
  package-lock.json
  package.json
Due: none

chore: set test workflow (#4)
  .github/workflows/release.yml
  .github/workflows/test.yml
  libs/command-bus/package.json
  libs/query-bus/package.json
  libs/result/package.json
  package-lock.json
  package.json
Due: npm run lint:openapi

chore: update release.yml
  .github/workflows/release.yml
Due: npm run lint:openapi

fix: publish release
  .github/workflows/release.yml
  .npmrc
Due: npm run lint:openapi

fix: publish release (#5)
  .github/workflows/release.yml
  .npmrc
Due: npm run lint:openapi

chore: fix publish
  libs/command-bus/package.json
  libs/query-bus/package.json
  libs/result/package.json
  package-lock.json
  package.json
Due: none

chore v0.0.11
  libs/command-bus/package.json
  libs/query-bus/package.json
  libs/result/package.json
  package-lock.json
  package.json
Due: none

chore: work on publish packages
  .github/workflows/release.yml
  .github/workflows/test.yml
  .npmignore
  .npmrc
  README.md
  libs/command-bus/package.json
  libs/query-bus/package.json
  libs/result/package.json
  package-lock.json
  package.json
  script.sh
  turbo.json
Due: npm run lint:openapi

chore: add example
  examples/command-bus-use-example/.eslintrc
  examples/command-bus-use-example/jest.config.ts
  examples/command-bus-use-example/package.json
  examples/command-bus-use-example/src/app.ts
  examples/command-bus-use-example/src/application/commandHandlers/createUserCommandHandler/createUserCommand.ts
  examples/command-bus-use-example/src/application/commandHandlers/createUserCommandHandler/createUserCommandHandler.ts
  examples/command-bus-use-example/src/application/repositories/userRepository/userRepository.ts
  examples/command-bus-use-example/src/domain/user/index.ts
  examples/command-bus-use-example/src/infrastructure/userRepository/userRepositoryImpl.ts
  examples/command-bus-use-example/tsconfig.build.json
  examples/command-bus-use-example/tsconfig.json
  examples/query-bus-use-example/.eslintrc
  examples/query-bus-use-example/jest.config.ts
  examples/query-bus-use-example/package.json
  examples/query-bus-use-example/src/app.ts
  examples/query-bus-use-example/src/application/queryHandlers/findUserQueryHandler/findUserQuery.ts
  examples/query-bus-use-example/src/application/queryHandlers/findUserQueryHandler/findUserQueryHandler.ts
  examples/query-bus-use-example/src/application/repositories/userRepository/userRepository.ts
  examples/query-bus-use-example/src/domain/user/index.ts
  examples/query-bus-use-example/src/infrastructure/userRepository/userRepositoryImpl.ts
  examples/query-bus-use-example/tsconfig.build.json
  examples/query-bus-use-example/tsconfig.json
  libs/command-bus/src/common/command.interface.ts
  libs/command-bus/src/common/commandBus.interface.ts
  libs/command-bus/src/common/commandBus.ts
  libs/command-bus/src/common/commandHandler.interface.ts
  libs/query-bus/src/common/query.interface.ts
  libs/query-bus/src/common/queryBus.interface.ts
  libs/query-bus/src/common/queryBus.ts
  libs/query-bus/src/common/queryHandler.interface.ts
  package-lock.json
  package.json
Due: eslint --fix --max-warnings=0 --color, prettier --write

chore: add result example
  LICENSE
  examples/query-bus-use-example/package.json
  examples/result-use-example/.eslintrc
  examples/result-use-example/jest.config.ts
  examples/result-use-example/package.json
  examples/result-use-example/src/app.ts
  examples/result-use-example/tsconfig.build.json
  examples/result-use-example/tsconfig.json
  libs/command-bus/LICENSE
  libs/query-bus/LICENSE
  libs/result/LICENSE
  libs/result/README.md
  package-lock.json
Due: eslint --fix --max-warnings=0 --color, prettier --write

chore: add root readme
  README.md
Due: none

chore: update package
  package-lock.json
Due: none

chore: add readme
  README.md
  libs/command-bus/README.md
  libs/command-bus/package.json
  libs/query-bus/README.md
  libs/query-bus/package.json
  libs/result/README.md
  libs/result/package.json
Due: none

chore: add more readme (#7)
  README.md
  libs/command-bus/README.md
  libs/command-bus/package.json
  libs/query-bus/README.md
  libs/query-bus/package.json
  libs/result/README.md
  libs/result/package.json
Due: none

chore: bump into v0.0.12
  libs/command-bus/package.json
  libs/query-bus/package.json
  libs/result/package.json
  package-lock.json
  package.json
Due: none

chore: bump into v0.0.12 (#8)
  libs/command-bus/package.json
  libs/query-bus/package.json
  libs/result/package.json
  package-lock.json
  package.json
Due: none

feat: add more error types for Result
  libs/command-bus/package.json
  libs/query-bus/package.json
  libs/result/package.json
  libs/result/src/common/failureResult.ts
Due: eslint --fix --max-warnings=0 --color, prettier --write

test: add tests
  .codecov.yml
  .github/workflows/test.yml
  libs/command-bus/package.json
  libs/command-bus/src/__tests__/commandBus.test.ts
  libs/query-bus/package.json
  libs/query-bus/src/__tests__/queryBus.test.ts
  libs/result/package.json
  libs/result/src/__tests__/failureResult.test.ts
  libs/result/src/__tests__/index.ts
  libs/result/src/__tests__/successResult.test.ts
  libs/result/src/common/asserations.ts
  libs/result/src/index.ts
  package.json
  script.sh
  turbo.json
Due: eslint --fix --max-warnings=0 --color, prettier --write, npm run lint:openapi

feat: add coverage
  libs/command-bus/jest.config.ts
  libs/query-bus/jest.config.ts
  libs/result/jest.config.ts
Due: eslint --fix --max-warnings=0 --color, prettier --write

test: create tests for libs (#9)
  .codecov.yml
  .github/workflows/test.yml
  libs/command-bus/jest.config.ts
  libs/command-bus/package.json
  libs/command-bus/src/__tests__/commandBus.test.ts
  libs/query-bus/jest.config.ts
  libs/query-bus/package.json
  libs/query-bus/src/__tests__/queryBus.test.ts
  libs/result/jest.config.ts
  libs/result/package.json
  libs/result/src/__tests__/failureResult.test.ts
  libs/result/src/__tests__/index.ts
  libs/result/src/__tests__/successResult.test.ts
  libs/result/src/common/asserations.ts
  libs/result/src/common/failureResult.ts
  libs/result/src/index.ts
  package.json
  script.sh
  turbo.json
Due: eslint --fix --max-warnings=0 --color, prettier --write, npm run lint:openapi

chore: add codecov badges
  README.md
  libs/command-bus/README.md
  libs/query-bus/README.md
  libs/result/README.md
Due: none

chore: add codecov badges (#10)
  README.md
  libs/command-bus/README.md
  libs/query-bus/README.md
  libs/result/README.md
Due: none

chore: create dependabot.yml
  .github/dependabot.yml
Due: npm run lint:openapi

chore: bump into v1.0.0
  libs/command-bus/package.json
  libs/query-bus/package.json
  libs/result/package.json
  package-lock.json
  package.json
Due: none

chore: bump into v1.0.0 (#16)
  libs/command-bus/package.json
  libs/query-bus/package.json
  libs/result/package.json
  package-lock.json
  package.json
Due: none
